*{
    margin: 0px;
    padding: 0px;
}

.input{
    display:block;
    padding: 5px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 25px;
}

.ckbx{
    display:inline-block;
    transform: scale(2);
}

.inputLabel{
    padding: 10px;
    font-size: 25px;
}

.optionsoverlay{
    position: absolute;
    background-color:rgba(255,255,255,.5);
}

.statsoverlay{
    position:absolute;
    margin-left: 25%;
    background-color:rgba(255,255,255,.5);
}