*{
    margin: 0px;
    padding: 0px;
}

.input{
    display:block;
    padding: 5px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 25px;
    max-width: 65px;
}

.inputline{
    display:inline-block;
    padding: 5px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 25px;
    max-width: 65px;
}

.ckbx{
    display:inline-block;
    transform: scale(2);
}

.sp_btn{
    max-width: 75px;
    min-width: 75px;
    height: 30px;
    padding: 5px;
    margin-left: 2px;
    margin-bottom: 5px;
}

.inputLabel{
    padding: 10px;
    font-size: 25px;
}

.optionsoverlay{
    position: absolute;
    background-color:rgba(255,255,255,.5);
}

.statsoverlay{
    position:absolute;
    margin-left: 35%;
    background-color:rgba(255,255,255,.5);
}